h3{
    text-align: center;
    font-size: 3rem;
    font-weight: 300;
}

.imgContainer{

    display: flex;
    justify-content: flex-start;
}

.film{
    display: inline-block;
    text-align: center;
    padding: 25px;
    margin-left: auto;
    margin-right: auto;
}
